In [7]:
import information_values as iv
iv.iv_numeric()

Import libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import make_classification

Create a made-up dataset

In [2]:
df = pd.DataFrame(make_classification(n_samples=1000, n_features=10, random_state=123)[0])
df.columns = ['feature_' + str(i + 1) for i in np.arange(10)]
df.head()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10
0,0.240631,-0.079709,-0.053133,0.092635,-0.139358,1.203193,-0.155900,-0.097093,0.069947,0.116603
1,0.754250,-0.937854,0.219473,-1.280669,1.556185,-0.655390,0.770232,0.193115,-2.278864,0.651029
2,0.958401,-1.318411,1.153505,-0.968165,1.886679,0.534737,0.460159,0.042332,0.792491,0.241443
3,0.643848,0.350821,-0.108697,0.710601,-0.854068,0.334855,0.607784,0.948349,1.297784,2.165832
4,1.032685,-1.264824,0.180678,0.359898,-0.263034,-0.337606,0.520756,-1.440363,1.257665,0.146308

Replace 20% of `df['feature_1']` by `np.nan`

In [5]:
# Set random state
np.random.seed(seed=123)
# Random indices that represent 20% of the rows in `df` 
idx = np.random.randint(low=0, high=len(df), size=round(len(df) * 0.2))
# Select rows in `idx` and replace `feature_1` with `np.nan`
df.loc[idx, 'feature_1'] = np.nan
# Visualize our progress so far
df.sample(5, random_state=100)

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10
249,0.197899,0.448879,-0.414728,0.273918,-0.597342,-0.794839,-0.889163,-0.927115,-0.449290,1.013471
353,-0.907667,2.274703,-0.844466,0.452611,-1.101503,0.583875,0.443053,-0.681472,-1.147819,-0.058086
537,NaN,0.215481,0.657141,-0.318429,0.820276,0.305863,-0.451524,0.394839,0.968056,-0.830250
424,NaN,0.909865,0.236932,-0.808871,1.053589,-2.167642,-2.875674,-1.013913,-1.188939,0.367930
564,-0.045399,-1.214023,0.945345,-0.558379,1.289538,-0.598556,-1.062187,1.749970,1.170376,-1.949794

Use `decision_tree_imputer` to impute values

In [6]:
df['feature_1_full'] = decision_tree_imputer(data=df, to_impute='feature_1',
                                             max_depth=None, max_features=5, random_state=123)

NameError: name 'decision_tree_imputer' is not defined